* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    
    background-color:#333;
    color:#fff;
   
}

/* header */

.header {
    height: 100px;
    background-color: rgb(137, 154, 160);
    margin-bottom: 50px;
    padding-top: 25px;
    padding-left: 40px;
    box-sizing: border-box;
}

.header h1 {
    font-size: 50px;
    display: inline;
    font-family: 'Comfortaa', sans-serif;
}
.meteo {
    color: #0918e4;
}

.Data {
    color: #83dd9e;
}

.header li {
    display: inline;
    
}

.text-header {    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-decoration: none;
    margin-right: 70%;
}
.sign-In {
    padding-right: 20px;
}

.home-link {
    padding-right: 20px;
}
/* footer */

.footer-box {
    width: 100%;
    height: 80px;
    background-color: rgb(137, 154, 160);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    
}
.footer-header{
    margin-left: 40px;
    padding-top: 25px;
    color: #222;
}
.footer-links ul {
    padding-top: 25px;
    margin-left: 150px;
}

.footer-links li  {
    display: inline-block;
    vertical-align: middle;
    
    
}
.back-front {
    padding-right:10px;
    color: #1201e3f7;
}
.back-link {
    padding-right: 20px;
}

.home h1 {
    width: 500px;
    color: #3e8fa0;
    font-size: 60px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    text-align: center;
    border: 5px solid currentColor;
    text-shadow: 5px 5px 15px rgb(88, 150, 75);
}

.logout-header {
    width: 700px;
    color: #5aa03e;
    font-size: 60px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    margin: 0 auto;
    text-align: center;
    border: 5px solid #5aa03e;
}

.wrong-login {
    width: 900px;
    color: red;
    font-size: 60px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 5px solid red;
    margin: 0 auto;
    text-align: center;
}

aside {
    width: 20%;
    margin-top: 50px;
    margin-right: 10%;
    float: right;
}

.login {
    margin-left: 0;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items:center;
   
}

.login input {
    font-size: 20px;
    background: #222;
    margin-bottom: 5px;
    color: #fff;
}

.sign-buttons {
    display: flex;
    
    
}

.signIn-button {
    margin-right: 81px;
    
}
.login button:hover {
    transform: scale(1.2);
    transition: 500ms ;

    
}

.login button {
    width: 80px;
    height: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
    background-color: #00bfedc2;
    
}

aside form input,
aside form textarea,
aside form button {
    width: 90%;
    padding: 15px 5%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    margin-bottom: 10px;
    border: 0;
    background: #222;
    color: #fff;
    outline: none;
    font-size: 15px;
}

aside form button {
    width: 100%;
    cursor: pointer;
    transition: transform 500ms ease;
}

aside form button:hover {
    transform: scale(1.1);
}


.data {
    margin-bottom: 30px;
    background-color: #3e8fa0;
    padding: 20px;
}

.object {
    width: 150px;
    margin-bottom: 20px;
    margin-right: 10%;
   
}

.object button:hover {
    transform: scale(1.1);
   
}
.object button {
    margin-left: 0;
    margin-top: 5px;
    transition: transform 500ms ease;
    cursor: pointer;
}

.object input,
.object input textarea {
    background: rgb(175, 175, 175);
    color: #3e8fa0;
    
    font-family: Arial, Helvetica, sans-serif;
    color-scheme: yl;
    
}












